{% extends "base.html" %}
{% block robots %}
{% if article.robots %}{{ article.robots }}{% else %}index,follow{% endif %}
{% endblock %}
{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags }}
{% endif %}
{% endblock head_description %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_tags_in_head %}
{% if article.tags and article.category %}
        <meta name="keywords" content="{{ [article.tags|join(', '), article.category]|join(', ') }}" />
{% endif %}
{% if article.category %}
        <meta name="category" content="{{ article.category|striptags }}" />
{% endif %}
{% if article.date %}
        <meta name="date" content="{{ article.date }}">
  <meta property="article:published_time" content="{{ article.date.isoformat() }}" />
{% endif %}
{% if article.modified %}
  <meta property="article:modified_time" content="{{ article.modified.isoformat() }}" />
{% endif %}
{% if article.author %}
  <meta property="article:author" content="{{ article.author }}" />
{% endif %}
{% if article.tags %}
{% for tag in article.tags %}
  <meta property="article:tag" content="{{ tag }}" />
{% endfor %}
{% endif %}

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ScholarlyArticle",
    "headline": "{{ article.title|striptags }}",
    "url": "{{ SITEURL }}/{{ article.url }}",
    "description": "{% if article.description %}{{ article.description|striptags|trim|truncate(220, True, '...') }}{% elif article.summary %}{{ article.summary|striptags|trim|truncate(220, True, '...') }}{% else %}{{ SITE_DESCRIPTION|striptags|trim|truncate(220, True, '...') }}{% endif %}",
    "author": {
      "@type": "Person",
      "name": "{% if article.author %}{{ article.author }}{% else %}{{ AUTHOR }}{% endif %}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{% if SEO_ORG_NAME %}{{ SEO_ORG_NAME }}{% else %}{{ SITENAME }}{% endif %}",
      "url": "{% if SEO_ORG_URL %}{{ SEO_ORG_URL }}{% else %}{{ SITEURL }}/{% endif %}"
    }{% if article.date %},
    "datePublished": "{{ article.date.isoformat() }}"{% endif %}{% if article.modified %},
    "dateModified": "{{ article.modified.isoformat() }}"{% endif %}
  }
  </script>
{% endblock meta_tags_in_head %}
{% block content %}
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title}}</a></h1>
      {% include 'twitter.html' %}
    </header>

    <div class="entry-content">
      {% include 'article_infos.html' %}
      {{ article.content }}
    </div><!-- /.entry-content -->
    {% if DISQUS_SITENAME %}
    <div class="comments">
      <h2>Comments !</h2>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_identifier = "{{ article.url }}";
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'https://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    {% endif %}

  </article>
</section>
{% endblock %}
